# To update this file, run:
# pip-compile requirements.in
boto3
discord
faiss-cpu
ffmpeg-python
langchain
langchain-community
langchain-openai
langgraph
openai
pycord
pydantic
pyperclip
python-dotenv
PyYAML