# To update this file, run:
# pip-compile requirements.in --strip-extras --output-file requirements.txt
boto3
discord
faiss-cpu
ffmpeg-python
ipython
langchain
langchain-community
langchain-openai
langgraph
openai
pathspec
pycord
pydantic
pyperclip
pytest
python-dotenv
PyYAML